// bower:scss
// endbower

body {
    background: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.vert100 {
  height:100vh;
}

.vert80 {
  height:80vh;
}

.vert40 {
  height:40vh;
}

.vert20 {
  height:20vh;
}

.vert10 {
    height:10vh;
}

.sidebar {
    padding-left: 14%;
    font-weight: 300;
    header {
        font-size: 46px;
        margin-bottom: -14px;
    }
    div {
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0px;
    }
}

.sidebar-style li a {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0px;
    color:#000;
}