// bower:scss
// endbower

body {
    background: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}

.vert100 {
  height:100vh;
}

.vert80 {
  height:80vh;
}

.vert40 {
  height:40vh;
}

.vert20 {
  height:20vh;
}

.vert10 {
    height:10vh;
}

.sidebar {
    padding-left: 14%;
    font-weight: 300;
    header {
        font-size: 46px;
        margin-bottom: -14px;
    }
    div, ul {
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0px;
        padding:0;
        margin:0;
    }
}

li {
    list-style-type: none;
    padding:0;
    margin:0;
    font-weight: 300;
    a {
    color: #000;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0px;
    }
    a:hover {
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0px;
    }
}